.About {
  text-align: center;
  background-color: transparent;
}

p {
  font-size: 100%;
}

.nobull {
  list-style-type: none;
}

.center {
  color: #fff;
  height: 200px;
  text-align: center;
}

/* If the text has multiple lines, add the following: */
.center p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.about a {
  font-size: 100%;
  z-index: 2;
  position: absolute;
  outline: none;
  text-align: center;
}

.about a:link {
  color: #fff;
}

.about a:visited {
  color: #fff;
}

.about a:focus {
  border-bottom: 1px solid;
  background: #ff704d;
}

.about a:hover {
  border-bottom: 1px solid;
  background: #ffad99;
}

.about a:active {
  background: #b32400;
  color: #ffad99;
}
